body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #2181b4dd !important;
  background-image: linear-gradient(
      30deg,
      #2687bceb 12%,
      transparent 12.5%,
      transparent 87%,
      #2687bceb 87.5%,
      #2687bceb
    ),
    linear-gradient(
      150deg,
      #2687bceb 12%,
      transparent 12.5%,
      transparent 87%,
      #2687bceb 87.5%,
      #2687bceb
    ),
    linear-gradient(
      30deg,
      #2687bceb 12%,
      transparent 12.5%,
      transparent 87%,
      #2687bceb 87.5%,
      #2687bceb
    ),
    linear-gradient(
      150deg,
      #2687bceb 12%,
      transparent 12.5%,
      transparent 87%,
      #2687bceb 87.5%,
      #2687bceb
    ),
    linear-gradient(
      60deg,
      #419ed0f6 25%,
      transparent 25.5%,
      transparent 75%,
      #419ed0f6 75%,
      #419ed0f6
    ),
    linear-gradient(
      60deg,
      #419ed0f6 25%,
      transparent 25.5%,
      transparent 75%,
      #419ed0f6 75%,
      #419ed0f6
    );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url("/public/tiling.jpg");
  box-shadow: inset 0 0 0 1000px rgba(33, 129, 181, 0.4) !important;
  background-size: 100px 100px;
  background-repeat: repeat;
}

h1 {
  font-size: 60px;
  text-align: center;
  padding: 20px 0;
  color: #ffffff;
  text-shadow: 3px 3px 1px #235785;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  text-shadow: 3px 3px 1px #235785;
}

p {
  font-size: 20px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #235785;
  padding-left: 20px;
}

.app {
  min-height: 100vh;
}

.linkles {
  color: #ffffff !important;
  background-color: rgb(36, 87, 133, 0.7) !important;
}

.linkles.active {
  color: #ffffff !important;
  background-color: #235785 !important;
}

* {
  box-sizing: border-box;
}

ul {
  color: #ffffff;
  padding-left: 100px;
  padding-top: 40px;
  font-size: 20px;
  text-shadow: 1px 1px 1px #235785;
  text-align: center;
}

.logo {
  height: 30px;
  width: auto;
}

.central {
  background-color: rgba(33, 129, 181, 1);
  margin: 20px 15% 0;
  height: 100%;
  padding: 20px 10px;
  border-radius: 20px;
}

.disasters div {
  float: left;
  width: 50%;
  background-color: white;
}

.disasters p {
  padding: 20px 0 0;
  text-align: center;
  text-shadow: none;
  margin: 0 0 -30px;
  z-index: 2;
  position: relative;
  color: black;
}

.disasters img {
  width: 100%;
  height: auto;
}
